
<h1>Product List</h1>

<style>
    td , th {
        padding: 10px;
        text-align: center;
    }
    a{
        display: inline-block;
        margin: 10px;
    }
</style>

<a href="{% url 'product_create' %}">Create Product</a> 

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>category</th>
        <th>expiry date</th>
        <th>action</th>
    </tr>

    {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.expiry_date | date:"Y-M-d" }}</td>
            <td>
                <a href="{% url 'product_update' product.id %}">Edit</a>
                <a href="{% url 'product_delete' product.id %}">Delete</a>
                <a href="{% url 'product_detail' product.id %}">View</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">No products</td>
        </tr>
    {% endfor %}
</table>
